.com-table {
  position: relative;
  table{
    position: relative;
    width: 100%;
    table-layout: fixed; 
    border-collapse: collapse;
  }
}
.com-table tr{
  &:hover{
    background-color: rgba(178,221,255,0.5)!important;
  }
}
.com-table th,
.com-table td {
  padding: 10px 0!important;
  height: auto!important;
  text-align: center; 
  border: 1px solid #aaa; 
  font-size: 14px;
}
.com-table td {
  padding:0!important;
  height: 36px!important;
}
.com-table th{
  font-size: 16px;
}
.com-table thead{
  position: sticky;
  top: -1px;
  background: var(--sec-color);
  z-index: 10;
}
.com-table th {
  background-color: var(--sec-color); 
  color: #000; 
  border-bottom: 1px solid #aaa;
  box-shadow: 0px 2px 2px #aaa;
  backface-visibility: hidden;
  font-weight: bold;

}

.com-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tbl-scroll {
  overflow-y: scroll;
}

.com-table-type2 {
  margin-top: 10px;
  table {
    th,td{
      border: 1px solid #aaa;
    }
    th {
      font: normal normal 600 16px/41px Pretendard;
      letter-spacing: 0px;
      color: #222222;
      background-color: var(--sec-color);
      font-weight: bold;
      label{
        font: normal normal 600 16px/41px Pretendard;
      letter-spacing: 0px;
      color: #222222;
      background-color: var(--sec-color);
      font-weight: bold;
      }
    }
    td{
      padding: 0 20px;
    }
  }
}


.ui-jqgrid .ui-jqgrid-htable th div{
  font-size: 16px;
  font-weight: bold;
}
.ui-jqgrid .ui-jqgrid-htable th{
  border: 1px solid #aaa;
}
.ui-jqgrid tr.ui-row-ltr td{
  font-size: 14px;
  font-weight: 500!important;
  color:#222;
}
// .ui-jqgrid-bdiv::-webkit-scrollbar {
//   width: 10px;
//   height: 10px;
// }
// .ui-jqgrid-bdiv::-webkit-scrollbar-track {
//   background-color: transparent;
// }

// .ui-jqgrid-bdiv::-webkit-scrollbar-thumb {
//   border-radius: 5px;
//   background: #BBBBBB;
// }