---
import ComInput from '../../components/ComInput.astro';
import ComSelect from '../../components/ComSelect.astro';
import Layout from '../../layouts/Layout.astro';

const title = '리더십리뷰 운영';
const pageTitle = `Home > ${title}`;
const idName = 'LR';
---

<Layout pageTitle={pageTitle} idName={idName}>
  <!-- 컨텐츠가 들어갈 부분 -->
  <div class="cnt-wrap">
    <section class="cnt">
      <div class="cnt__head">
        <h3 class="com-title-lg">{title}</h3>
      </div>
      <div class="cnt__body">
        <div class="search-area flex aic jcb">
          <div class="lef">
            <section class="flex three-item type2">
              <article class="row">
                <label class="com-label" for="a1">리뷰년도</label>
                <ComSelect id="a1" wid="180" />
              </article>
              <article class="row">
                <label class="com-label" for="a2">리뷰차수</label>
                <ComSelect id="a2" wid="180" />
              </article>
              <article class="row">
                <label class="com-label" for="a3">리뷰대상</label>
                <ComSelect id="a3" wid="180" />
              </article>
            </section>
            <section class="flex three-item type2">
              <article class="row">
                <label class="com-label" for="a4">부서명</label>
                <ComSelect id="a4" wid="180" />
              </article>
              <article class="row">
                <label class="com-label" for="a5">행번</label>
                <ComInput id="a5" wid="180" />
              </article>
              <article class="row">
                <label class="com-label" for="a6">이름</label>
                <ComInput id="a6" wid="180" />
              </article>
              <article class="row">
                <label class="com-label" for="a7">진행단계</label>
                <ComSelect id="a7" wid="180" />
              </article>
            </section>
          </div>
          <div class="ref">
            <button type="submit" class="com-btn search-btn">검색</button>
          </div>
        </div>

        <div class="com-div-table-wrap type-1">
          <div class="flex-container">
            <div class="flex-item">리뷰대기</div>
            <div class="flex-column">
              <div class="flex-item">역량</div>
              <div class="flex-item bg-white">200/300</div>
            </div>
            <div class="flex-column">
              <div class="flex-item">위험요소</div>
              <div class="flex-item bg-white">250/300</div>
            </div>
          </div>
          <div class="flex-container">
            <div class="flex-item">리뷰대기</div>
            <div class="flex-column">
              <div class="flex-item">역량</div>
              <div class="flex-item bg-white">200/300</div>
            </div>
            <div class="flex-column">
              <div class="flex-item">위험요소</div>
              <div class="flex-item bg-white">250/300</div>
            </div>
          </div>
          <div class="flex-container">
            <div class="flex-item">리뷰대기</div>
            <div class="flex-column">
              <div class="flex-item">역량</div>
              <div class="flex-item bg-white">200/300</div>
            </div>
            <div class="flex-column">
              <div class="flex-item">위험요소</div>
              <div class="flex-item bg-white">250/300</div>
            </div>
          </div>
        </div>

        <div class="com-table-wrap">
          <div class="tbl-scroll mt10" style="max-height:305px;">
            <div class="com-table">

            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- 컨텐츠가 들어갈 부분 eee -->
  </div>
</Layout>
