---
import Layout from '../../layouts/Layout.astro';

const title = '리더십리뷰 운영';
const pageTitle = `Home > ${title}`;
const idName = 'dashboard';
---

<Layout pageTitle={pageTitle} idName={idName}>
  <!-- 컨텐츠가 들어갈 부분 -->
  <div class="cnt-wrap">
    <section class="cnt">
      <div class="cnt__head">
        <h3 class="com-title-lg">{title}</h3>
      </div>
      <div class="cnt__body">
        <div class="search-area flex aic jcb">
          <div class="lef">
            <section class="flex three-item type2">
              <article class="row">
                <label class="com-label" for="goal-year-select">목표년도</label>
                <div class="com-select w180">
                  <select
                    id="goal-year-select"
                    class="select-goal-year input-md v-motion"
                  >
                    <!-- 년도 옵션 -->
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <!-- ... -->
                  </select>
                </div>
              </article>
              <article class="row">
                <label class="com-label" for="goal-times-select"
                  >전체 목표차수</label
                >
                <div class="com-select w180">
                  <select
                    id="goal-times-select"
                    class="select-goal-times input-md v-motion"
                  >
                    <!-- 차수 옵션 -->
                    <option value="1">1차</option>
                    <option value="2">2차</option>
                    <!-- ... -->
                  </select>
                </div>
              </article>
              <article class="row">
                <label class="com-label" for="goal-target-select"
                  >목표대상</label
                >
                <div class="com-select w180">
                  <select
                    id="goal-target-select"
                    class="select-goal-target input-md v-motion"
                  >
                    <!-- 대상 옵션 -->
                    <option value="target1">대상1</option>
                    <option value="target2">대상2</option>
                    <!-- ... -->
                  </select>
                </div>
              </article>
            </section>
            <section class="flex three-item type2">
              <article class="row">
                <label class="com-label" for="goal-year-select">목표년도</label>
                <div class="com-select w180">
                  <select
                    id="goal-year-select"
                    class="select-goal-year input-md v-motion"
                  >
                  </select>
                </div>
              </article>
              <article class="row">
                <label class="com-label" for="goal-times-select"
                  >전체 목표차수</label
                >
                <div class="com-select w180">
                  <select
                    id="goal-times-select"
                    class="select-goal-times input-md v-motion"
                  >
                  </select>
                </div>
              </article>
              <article class="row">
                <label class="com-label" for="goal-target-select"
                  >목표대상</label
                >
                <div class="com-select w180">
                  <select
                    id="goal-target-select"
                    class="select-goal-target input-md v-motion"
                  >
                  </select>
                </div>
              </article>
              <article class="row">
                <label class="com-label" for="goal-target-select"
                  >목표대상</label
                >
                <div class="com-select w180">
                  <select
                    id="goal-target-select"
                    class="select-goal-target input-md v-motion"
                  >
                  </select>
                </div>
              </article>
            </section>
          </div>
          <div class="ref">
            <button type="submit" class="com-btn search-btn">검색</button>
          </div>
        </div>

        <div class="com-div-table-wrap">
          <div class="flex-container">
            <div class="flex-item">리뷰대기</div>
            <div class="flex-column">
              <div class="flex-item">역량</div>
              <div class="flex-item bg-white">200/300</div>
            </div>
            <div class="flex-column">
              <div class="flex-item">위험요소</div>
              <div class="flex-item bg-white">250/300</div>
            </div>
          </div>
          <div class="flex-container">
            <div class="flex-item">리뷰대기</div>
            <div class="flex-column">
              <div class="flex-item">역량</div>
              <div class="flex-item bg-white">200/300</div>
            </div>
            <div class="flex-column">
              <div class="flex-item">위험요소</div>
              <div class="flex-item bg-white">250/300</div>
            </div>
          </div>
          <div class="flex-container">
            <div class="flex-item">리뷰대기</div>
            <div class="flex-column">
              <div class="flex-item">역량</div>
              <div class="flex-item bg-white">200/300</div>
            </div>
            <div class="flex-column">
              <div class="flex-item">위험요소</div>
              <div class="flex-item bg-white">250/300</div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- 컨텐츠가 들어갈 부분 eee -->
  </div>
</Layout>
