
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>가이드</title>
    <link rel="stylesheet" href="../assets/css/ui.css" />
  </head>

  <body>
    <div class="content-wrapper" id="content">
      <div class="content-section" id="app-cn" style="display:block;">
        <table style="width: 100%;" class="tbl-list mt20  ">
          <thead>
            <tr>
              <th>연번</th>
              <th>1Depth</th>
              <th>2Depth</th>
              <th>Tab-Depth</th>
              <th>퍼블1차</th>
              <th>퍼블수정</th>
              <th>퍼블컨펌</th>
              <th>추가의견</th>
              <th>콘텐츠(기본 유지)</th>
              <th>비고</th>
              <th>HTML 링크</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>0</td>
              <td>공통팝업</td>
              <td> </td>
              <td> </td>
              <td></td>
              <td> </td>
              <td> </td>
              <td> </td>
              <td> </td>
              <td></td>
              <td>
                <a href="../popup/공통팝업.html" target="_blank">공통팝업</a>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>로그인</td>
              <td> </td>
              <td> </td>
              <td></td>
              <td> </td>
              <td> </td>
              <td> </td>
              <td> </td>
              <td></td>
              <td>
                <a href="../main/main.html" target="_blank"> main.html</a>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>대시보드</td>
              <td> </td>
              <td> </td>
              <td></td>
              <td> </td>
              <td> </td>
              <td> </td>
              <td> </td>
              <td></td>
              <td>
                <a href="../sub/대시보드.html" target="_blank"> 대시보드.html</a>
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>평가관리</td>
              <td>목표·면담 설정</td>
              <td>목표마스터 설정</td>
              <td></td>
              <td> </td>
              <td> </td>
              <td> </td>
              <td> </td>
              <td></td>
              <td>
                <a href="../sub/목표마스터설정.html" target="_blank"> 목표마스터설정.html</a>
              </td>
            </tr>
            <tr>
              <td>4</td>
              <td> 평가운영</td>
              <td> 리더십리뷰운영</td>
              <td> </td>
              <td></td>
              <td> </td>
              <td> </td>
              <td> </td>
              <td> </td>
              <td></td>
              <td>
                <a href="../sub/리더십리뷰운영.html" target="_blank"> 리더십리뷰운영.html</a>
              </td>
            </tr>
            <tr>
              <td>5</td>
              <td> 평가운영</td>
              <td> 개인성과평가운영</td>
              <td> </td>
              <td></td>
              <td> </td>
              <td> </td>
              <td> </td>
              <td> </td>
              <td></td>
              <td>
                <a href="../sub/개인성과평가운영.html" target="_blank"> 개인성과평가운영.html</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
