#login {
  .content-body {
    margin-left: 0;
  }
  #wrap {
    display: block;
  }
}
#wrap {
  display: flex;
  // max-height: 100vh;
  min-width: 1600px;
  min-height: 100vh;
  > section {
    min-height: 800px;
  }
}
.container{
  display: flex;
  align-items: initial;
}
.content-body {
  flex: 1;
  position: relative;
  // max-width: calc(100% - 260px);
}
.header,.footer{
  min-width: 1910px;
}
.sub-cnt {
  padding: 20px 30px;
}
.cnt-wrap {
  flex:1;
  padding: 20px 30px;
  background: #eeeeee;
  box-sizing: border-box;
  min-height: calc(100% - 120px);
  padding-bottom: 95px;
  .cnt {
    margin-bottom: 20px;
  
    .cnt__head {
      background: #0060aa 0% 0% no-repeat padding-box;
      border-radius: 10px 10px 0px 0px;
      height: 54px;
      display: flex;
      align-items: center;
      padding-left: 60px;
      &.type1 {
        padding-left: 60px;
        background: #fff;
        border-bottom: 1px solid #b2ddff;
      }
      h3 {
        font: normal normal 600 24px/29px Pretendard;
        letter-spacing: 0px;
        color: #ffffff;
      }
    }
  
    .cnt__body {
      opacity: 1;
      padding: 30px 60px;
      background: #ffffff 0% 0% no-repeat padding-box;
      border-radius: 10px;
    }
  }
}
.wid100 {
  width: 100%;
}
.com-label {
  flex: none;
  font: normal normal 600 16px/19px Pretendard;
  letter-spacing: 0px;
  color: #222222;
}
.search-area {
  padding: 16px 40px;
  background: #b2ddff 0% 0% no-repeat padding-box;
  border: 1px solid #5bb8ff;
  border-radius: 4px;
  box-sizing: border-box;
  .lef {
    display: flex;
    flex-direction: column;
    gap:10px;
    &.f33 {
      gap: 100px;
    }
    .row {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }
}
.com-date-range {
  display: flex;
  align-items: center;
  span {
    display: inline-block;
    margin: 0 10px;
    font: normal normal 600 20px/29px Pretendard;
    letter-spacing: 0px;
    color: #bbbbbb;
  }
}

.com-date-range .calendar-icon {
  cursor: pointer;
  margin-left: 5px!important;
}

.tab-contents{
  .cnt__body{
    display: none;
    &:first-of-type{
      display: block;
    }
  }
}