.gnb-wrap {
  flex: 0 0 272px;
}
.gnb {
  @include make-before {
    width: 70px;
    height: calc(100% - 50px);
    background: $main-color;
    position: absolute;
    z-index: -1;
  }
  .gnbItem,
  .all-menu {
    width: 72px;
    &:last-of-type {
      a {
        padding-bottom: 0;
      }
    }
    > a {
      display: block;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 9px;
      padding-top: 27px;
      background-repeat: no-repeat;
      img {
        display: block;
        margin: 0 auto;
      }
      span {
        margin-top: 8px;
        display: block;
        text-align: center;
        font-size: 12px;
        letter-spacing: 0px;
        color: #ffffff;
      }
    }

    .subMenu {
      margin-top: 20px;
      display: none;
      position: absolute;
      top: 38px;
      left: 70px;
      width: 202px;
      z-index: 10;
      padding: 12px 0;
      box-sizing: border-box;
      height: calc(100% - 116px);
      > li {
        > a {
          font-weight: 600;
          font-size: 16px;
          letter-spacing: 0px;
          color: #666666;
        }
      }
    }
  }
  .all-menu {
    padding-top: 30px;
    margin-bottom: 20px;
    a {
      display: block;
      background-image: url('../../assets/img/nav1.svg');
      background-repeat: no-repeat;
      background-position: center 0px;
    }
  }
}

@for $i from 1 through 9 {
  .gnbItem:nth-child(#{$i}) {
    margin-bottom: 10px;
    > a {
      background-image: url('../../assets/img/nav#{$i}.svg');
      background-repeat: no-repeat;
      background-position: center 11px;
      display: flex;
      padding-top: 36px;
    }
    &:hover:not(:first-child) {
      > a {
        display: block;
        background: #fff url('../../assets/img/nav#{$i}_hover.svg') no-repeat;
        background-position: center 11px;
        border-radius: 15px 0 0 15px;
        span {
          color: $main-color;
          font-weight: bold;
        }
      }
    }
    &.on:not(:first-child) {
      > a {
        display: block;
        background: #fff url('../../assets/img/nav#{$i}_hover.svg') no-repeat;
        background-position: center 11px;
        border-radius: 15px 0 0 15px;
        span {
          color: $main-color;
          font-weight: bold;
        }
      }
      .subMenu {
        display: block;
        > li {
          &.on,
          &:hover {
            > a {
              background: #4bb1ff;
              color: #fff;
              font-weight: 500;
            }
          }
          > a {
            display: block;
            padding: 12px 20px;
            border-radius: 0;
          }
        }
      }
      .subSubMenu {
        > li {
          opacity: 1;
          a {
            @include make-after {
              position: absolute;
              @include poy;
              left: 19px;
              border-radius: 50%;
              width: 5px;
              height: 5px;
              background: #aaa;
            }
            position: relative;
            display: block;
            padding: 3px 0;
            padding-left: 30px;
            font: normal normal normal 14px/1.6 Pretendard;
            letter-spacing: 0px;
            color: #999999;
            transition: all 0.2s;
            &:hover {
              color: $sec-color;
              font-weight: bold;
              &::after {
                background: $sec-color;
              }
            }
          }
        }
      }
    }

    // &:hover:not(:first-child)
  }
}
