---
interface Props{
  id : string;
  wid : string;
}
const {id,wid} = Astro.props;
---

<div class=`com-select w${wid}`>
  <select name="" id={id}>
    <option value="">옵션</option>
  </select>
</div>