---
import Navigation from './Navigation.astro';
---

<!-- header -->
<header id="header" class="header gnbJs">
  <div class="headerWrap">
    <div class="headerInner">
      <h1 class="logo">
        <a href="../main/main.html">
          <img src="../assets/img/logo.png" alt="인천중구교육포털 배우는바다" />
        </a>
      </h1>

      <!-- 네비게이션 -->
      <Navigation />
      <!-- 네비게이션 eee -->
    </div>
  </div>
</header>
<!-- header eee -->
