---
import Footer from './Footer.astro';
import Header from './Header.astro';
import '../css/ui.css';

const { pageTitle, pageHeader, pageFooter, idName } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- 스타일 -->
    <link rel="stylesheet" href="../assets/css/ui.css" />
    <!-- 스타일 eee -->

    <!-- 스크립트 -->
    <script defer src="../assets/js/custom/ui.js"></script>
    <!-- 스크립트 eee -->

    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    {pageHeader !== 'noHeader' && <Header />}
    <main id={idName} class={idName}>
      <div id="wrap">
        <slot />
      </div>
      {pageFooter !== 'noFooter' && <Footer />}
    </main>
  </body>
</html>
